:root {
    --accent-color: #2e2f42;
    --logo-btn-color: #4D5AE5;
    --text-color: #434455;
    --fond-color: #FFFFFF;
    --fond-btn-color: #F4F4FD;
    --btn-color: #404bbf; 
    }

    h1,h2,h3,p {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img {
        display: block;
    }

    address {
        font-style: normal;
    }


    button {
        cursor: pointer;
    }
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
      }


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--fond-color);
}

.list {
list-style: none;
}
.link {
text-decoration: none;
} 
    
    
    /*================ Header======================= */

    .logo-type {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-btn-color);
display: flex;
align-items: center;
margin-right: 76px;
}

.menu-list {
    display: flex;
    gap: 40px;
  }
    
.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--accent-color);
display: inline-block;
padding-top: 24px;
padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--btn-color);
}

/* Color LoGo */
.colorr {
    color: var(--accent-color);
   }

.address {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
} 

.addressa:hover,
.addressa:focus {
    color: var(--btn-color);
}

.addressa {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}
.contacts-i {
    font-style: normal;
}

.contact {
display: flex;
padding-top: 24px;
padding-bottom: 24px;
margin-left: 332px;
gap: 40px;


}


.page-header {
    background-color: var(--fond-color);
  }
  .page-header .container {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
  }


  


/*==================== Hero image============================*/

.section-hero-container {
    background: var(--accent-color);
    padding-top:  188px;
    padding-bottom: 292px;
    padding-left: 331px;
    padding-right: 331px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    
    
} 
.section-hero {
    background: var(--accent-color) ;
} 




.main-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--fond-color);
text-align: center;
}

.modal-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--fond-color);
background: var(--logo-btn-color);
cursor: pointer;
margin-top: 48px;
margin-left: auto;
margin-right: auto;
display: flex;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 32px;
padding-right: 32px;
}

.modal-btn:hover,
.modal-btn:focus {
background: var(--btn-color);
color: var(--fond-color);
}




/*=================== Section 1=================================== */

.distinctive-features-header {
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.distinctive-features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* Container-features */

.container-1 {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
   

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 111px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    

}
.flex-items {
    display: flex;
    flex-wrap: wrap;
    width: 264px;
    gap: 24px;
    margin-top: 72px;
    flex-wrap: wrap;

}





/*================== Section 2=============================== */

.our-work-header {
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--accent-color);
background-color: var(--fond-btn-color);
}

.container-2 {
  
   width: 1158px;
   margin-left: auto;
   margin-right: auto;
   
}
.box {
    display: flex;
    gap: 24px;
}

.flex-items-work {
    display: flex;
    flex-direction: row;
    
    margin-bottom: 100px;
}

/*===================Section-3===================================  */
.our-team {
background-color: var(--fond-btn-color);
}
.img {
background-color: var(--fond-color);
}

.our-team-header {
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--accent-color);
margin-bottom: 72px;
margin-top: 120px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.team-member-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.our-team-text {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.container-3 {
    width: 1158px;
    height: 732px;
    margin-left: auto;
    margin-right: auto;
}
.box-2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
   
}
.flex-item-our-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 232px;
    width: 264px;
}
.flex-01 {
    display: flex; 
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    
    
    
}



/*============================================ Footer================================= */

.logo-type-footer {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-btn-color);
}

/* colorr-footer-logo */
.colorr-footer {
color: var(--fond-btn-color);
}

.footer {
background: var(--accent-color);
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--fond-btn-color);
}

/* Container-footer */
.container-footer {
    width: 1158px;
}



/*==================================== Portfolio========================== */

.menu-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
} 


/* Portfolio btn */
.portfolio-btn:hover,
.portfolio-btn:focus {
background: var(--btn-color);
color: var(--fond-color);
}

.portfolio-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--logo-btn-color);
background-color: var(--fond-btn-color);
cursor: pointer;
}

    /* Container-section-portfolio */
    .container-section-portfolio {
        width: 1158px;
    }


